<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prestamos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".carrito_prestamo"
            android:label="@string/title_activity_carrito_prestamo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prestamos.MainActivity" />
        </activity>
        <activity
            android:name=".libros"
            android:label="@string/title_activity_libros"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.prestamos.MainActivity" />
    </activity>

        <activity
            android:name=".detalle_prestamo"
            android:label="@string/title_activity_detalle_prestamo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_entregas"
            android:label="@string/title_activity_entregas"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prestamos.MainActivity" />
        </activity>
        <activity
            android:name=".activity_libros_prestados"
            android:label="@string/title_activity_libros_prestados"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prestamos.MainActivity" />
        </activity>
        <activity
            android:name=".activity_prestamos"
            android:label="@string/title_activity_prestamos"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prestamos.MainActivity" />
        </activity>
        <activity
            android:name=".detalle_libro"
            android:label="@string/title_activity_detalle_libro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>